<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Automated Projection Selection</Name><AddInID>{79b94ce8-0a91-4857-b4b6-c8b64f4c2a1e}</AddInID><Description>Addin to enable projection selection for GIS projects.</Description><Version>1.0</Version><Image /><Author>Paul Gosling</Author><Company>Untitled</Company><Date>03/17/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="AutomatedProjectionSelection_addin.py" namespace="AutomatedProjectionSelection_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Project Name" category="Automated Projection Selection" class="Project_Name" id="AutomatedProjectionSelection_addin.project_name" itemSizeString="WWWWWW" message="Type text for project name (max 10 characters)" rows="4" sizeString="WWWWWW" tip="Add name to identify output files"><Help heading="Add name to identify output files">Type text for project name (max 10 characters)</Help></ComboBox>
        <ComboBox caption="Purpose" category="Automated Projection Selection" class="Input_Purpose" id="AutomatedProjectionSelection_addin.input_purpose" itemSizeString="WWWWWW" message="Select from the drop-down list of purposes" rows="4" sizeString="WWWWWW" tip="Select the appropriate purpose for the GIS project or output"><Help heading="Select the appropriate purpose for the GIS project or output">Select from the drop-down list of purposes</Help></ComboBox>
        <ComboBox caption="Input Dataset" category="Automated Projection Selection" class="Input_Layer" id="AutomatedProjectionSelection_addin.input_layer" itemSizeString="WWWWWW" message="Select from drop-down list of appropriate layers in active data frame. Appropriate data type depends on Purpose and data must be referenced to Geographic Coordinate System" rows="4" sizeString="WWWWWW" tip="Select input dataset which defines area of interest"><Help heading="Select input dataset which defines area of interest">Select from drop-down list of appropriate layers in active data frame. Appropriate data type depends on Purpose and data must be referenced to Geographic Coordinate System</Help></ComboBox>
        <Button caption="Run Tool" category="Automated Projection Selection" class="Run_Tool" id="AutomatedProjectionSelection_addin.run_tool" image="" message="Tool runs using the selected inputs. See messages for outputs generated" tip="Run the automated projection selection process using input selections"><Help heading="Run the automated projection selection process using input selections">Tool runs using the selected inputs. See messages for outputs generated</Help></Button>
        <ComboBox caption="Projected Coord System" category="Automated Projection Selection" class="Spatial_Reference" id="AutomatedProjectionSelection_addin.spatial_reference" itemSizeString="WWWWWW" message="Select from drop-down list of candidate options created by selection tool. See messages and results text file for option rankings" rows="4" sizeString="WWWWWW" tip="Select the desired Projected Coordinate System"><Help heading="Select the desired Projected Coordinate System">Select from drop-down list of candidate options created by selection tool. See messages and results text file for option rankings</Help></ComboBox>
        <Button caption="Apply" category="Automated Projection Selection" class="Apply_Projection" id="AutomatedProjectionSelection_addin.apply_projection" image="" message="Set data frame coordinate system property using selection from drop-down list" tip="Apply Projected Coordinate System selection"><Help heading="Apply Projected Coordinate System selection">Set data frame coordinate system property using selection from drop-down list</Help></Button>
        <Button caption="Reset" category="Automated Projection Selection" class="Reset_Inputs" id="AutomatedProjectionSelection_addin.reset_inputs" image="" message="Remove selections and allow user to start afresh" tip="Reset all previous input field selections"><Help heading="Reset all previous input field selections">Remove selections and allow user to start afresh</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Automated Projection Selection" category="Automated Projection Selection" id="AutomatedProjectionSelection_addin.toolbar" showInitially="true"><Items><ComboBox refID="AutomatedProjectionSelection_addin.project_name" /><ComboBox refID="AutomatedProjectionSelection_addin.input_purpose" /><ComboBox refID="AutomatedProjectionSelection_addin.input_layer" /><Button refID="AutomatedProjectionSelection_addin.run_tool" /><ComboBox refID="AutomatedProjectionSelection_addin.spatial_reference" /><Button refID="AutomatedProjectionSelection_addin.apply_projection" /><Button refID="AutomatedProjectionSelection_addin.reset_inputs" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>